/*----------------------------FOR WHOLE DOCUMENT-------------------------------*/
@font-face {
    font-family: "Segoe UI";
    src: url("images/fonts/SegoeUI.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("images/fonts/SegoeUI-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Now";
    src: url("images/fonts/Now-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Now";
    src: url("images/fonts/Now-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Now";
    src: url("images/fonts/Now-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

body * a {
    color: #192836;
}

p {
    line-height: 160%;
}

html {
    background: #fff;
}

.main-margin-mobile {
    margin-left: 20px;
    margin-right: 20px;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: "Now";
    font-weight: 500;
}

/*-----------------------------FLEX CONTAINER GENERAL------------------------------*/
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-column,
.flex-row {
    margin: 0;
}

.flex-overflow {
    flex: 1;
    overflow: auto;
    height: 100vh;
} /*places scroll bar under black header*/

/*----------------------------FLEX PROPERTIES GENERAL---------------------------*/
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-cen-align-cen {
    justify-content: center;
    align-items: center;
}

.align-cen {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.space-between-center {
    justify-content: space-between;
    align-items: center;
}

/*--------------------------------GENERAL STYLES  */
.h1 {
    font-size: 40px;
}

.h2 {
    color: #262626;
    font-size: 30px;
    line-height: 45px;
}

.h3 {
    font-size: 20px;
}

.weight-600 {
    font-weight: 600; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

/*----------------------------RESPONSIVE WIDTH----------------------------*/
/* DESKTOP */


/*-------------------------PADDING CLASSES-----------------------------*/
.padding-flex {
    padding-left: 10%;
    padding-right: 10%;
}

/*--------------------------GENERAL STYLE PROPERTIES-------------------------------*/
.text-center {
    text-align: center;
}

/*---------------------------------FLEX HEADER---------------------------------*/


/*---------------------------------FLEX NAVIGATION---------------------------------*/


/*---------------------------------------- DROPDOWN MENU*/


/*---------------------------------HEADER SSECTION 1---------------------------------*/

/*---------------------SINCE 2000 SECTION  */
/* -------------------ONLINE COACHING SECTION */


.margin-right {
    margin-right: 25px;
}

.box-shadow {
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
}



/*---------------------------------FONT SIZE ---------------------------------*/

/*---------------------------------6500+ section ---------------------------------*/


/*----------------FORM SECTION------------*/

.column-gap {
    column-gap: 30px;
}


.as-featured-in {
    margin: 60px 0;
    font: 500 20px "Now";
}

.client-margins img {
    flex: 1;
    min-width: 0;
}

/*--------------------------------------RECENT COURSES SECTION  */
.green-underline {
    font-size: 30px;
    position: relative;
    font-weight: 600;
}

.green-underline::before {
    content: "";
    position: absolute;
    bottom: 5px;
    height: 10px;
    left: 0;
    right: -15px;
    background-color: #39e17b;
    z-index: 0;
}

.green-underline > span {
    position: relative;
    z-index: 1;
}

.decoration-none-black {
    text-decoration: none;
    color: black;
    font-family: "Now";
    font-weight: 500;
    font-size: 20px;
}

.decoration-none-pink {
    display: inline-block;
    text-decoration: none;
    color: #d74d52;
    background: #f8dfe0;
    padding: 2px 9px;
    font-size: 14px;
    font-weight: 600;
}

.margin-left-col {
    margin-left: 30px;
}

.recent-paragraph {
    text-align: center;
    max-width: 685px;
    margin-bottom: 80px;
}

.recent-main {
    align-items: center;
    margin-top: 120px;
}

.recent-cards {
    display: flex;
    font-weight: 500;
    column-gap: 30px;
    row-gap: 30px;
}

.recent-cards article {
    flex: 1;
    min-width: 0;
}

.padding-courses {
    padding: 30px 30px 50px;
}

.padding-t-b {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-----------------------------4 IMAGES AT END  */

#image-strip {
    width: 100%;
}

#image-strip img {
    min-width: 0;
}

/*--------------------------------TEACHERS SECTION ABOVE INSTAGRAM  */

.teacher-style {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.teacher-background {
    background: url(images/quote.png) center no-repeat;
    margin-bottom: 40px;
    font-size: 30px;
}

.twitter-margin {
    margin-left: 20px;
}

/*--------------------------------VISIT US SECTION  */
.red-white-box {
    color: #fff;
    background: #d74d52;
    padding: 30px 50px;
    margin-bottom: 70px;
    margin-top: 0;
    font: 400 30px "Segoe UI";
}

.visit-section-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.visit-section-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.visit-section {
    position: relative;
    padding: 0 50px 50px;
    font-size: 20px;
    font-weight: 600;
    max-width: 650px;
    padding: 0 40px 100px 30px;
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
    margin-top: 70px;
    margin-right: 55px;
    background: #fff;
    z-index: 1;
}

.visit-section-background img {
    vertical-align: bottom;
    width: 100%;
}

.visit-section p {
    margin-top: 0;
}

.clock {
    margin-right: 37px;
}

.gps {
    margin-right: 30px;
}

.princeton {
    font: 500 20px/30px "Now";
}

.learn-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

.learn-upper {
    margin-top: -10px;
    margin-bottom: 50px;
}

.learn-down {
    margin-top: -10px;
}

.view-map {
    margin: auto;
    margin-top: 10px;
}

.border {
    border: solid 4px black;
}

/*--------------------------INSTAGRAM IMAGE*/
.instagram-image {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 200px;
}

/*---------------------------------------FOOTER  */
footer {
    display: flex;
    align-items: center;
    font-size: 14px;
}

footer ul {
    padding: 0;
}

footer ul > li {
    list-style: none;
    display: inline-block;
}

footer ul > li > a {
    text-decoration: none;
    display: inline-block;
}

footer ul > li > a:hover {
    color: #d74d52;
}

footer div > img {
    width: 147px;
}

/*----------------------GO TO TOP ARROW  */

.fixed {
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 99; /*so it disappears under header?*/
}

@media screen and (max-width: 1200px) {
    .width-responsive {
        max-width: 960px;
    }

    nav ul:nth-of-type(2) > li:last-of-type {
        margin-left: 0;
    }

    .visit-section {
        width: 540px;
    }

    #img1 {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .width-responsive {
        max-width: 720px;
    }

    nav ul:nth-of-type(1) {
        display: none;
    }

    #hamburger {
        display: flex;
        justify-content: center;
        height: 30px;
    }

    .section-6500 {
        margin-bottom: 60px;
    }

    #form-section {
        flex-direction: column;
        margin: 0 15px;
    }

    #form-left-column {
        justify-content: center;
    }

    .form-background-horizontal {
        background-position-y: top;
        background-size: auto;
    }

    .form-left-box {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .visit-section {
        width: 440px;
        margin-right: 0;
    }

    #img1 {
        display: none;
    }

    #img4 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .width-responsive {
        max-width: 540px;
    }

    .online-coaching-section {
        flex-direction: column;
    }

    .section-6500 {
        flex-direction: column;
        row-gap: 30px;
        align-items: flex-start;
    }

    .recent-cards {
        flex-direction: column;
    }

    .visit-section-background {
        width: 510px;
        position: static;
    }

    .visit-section {
        width: 510px;
        margin: 0;
    }

    #form-section .flex-row {
        flex-direction: column;
    }

    #form-section .input-box {
        width: auto;
    }

    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 30px 0;
    }

    footer ul {
        align-self: stretch;
    }
}

@media screen and (max-width: 575px) {
    .width-responsive {
        max-width: initial;
        padding-left: 15px;
        padding-right: 15px;
    }
    #img1 {
        display: none;
    }

    #img3 {
        display: none;
    }

    #img4 {
        display: none;
    }
}
