@font-face {
  font-family: "Segoe UI";
  src: url("fonts/SegoeUI.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url("fonts/SegoeUI-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Now";
  src: url("fonts/Now-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Now";
  src: url("fonts/Now-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Now";
  src: url("fonts/Now-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}
body * a {
  color: #192836;
}

h1,
h2,
h3 {
  font-family: "Now";
  font-weight: 500;
}

.h1 {
  font-size: 40px;
}

.h2 {
  color: #262626;
  font-size: 30px;
  line-height: 45px;
}

.h3 {
  font-size: 20px;
}

p {
  line-height: 160%;
}

.main-margin-mobile, .section-2000, .slider-text-container {
  margin-left: 20px;
  margin-right: 20px;
}

.black-header {
  background: #262626;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.evanto-market {
  margin-top: 17px;
  margin-bottom: 8px;
  margin-left: 15px;
  padding-top: 1px;
}

.button-white-green {
  background: #82b440;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 5px 20px 7px 20px;
  border-radius: 4px;
  margin-top: 11.5px;
  margin-right: 17px;
  margin-bottom: 11.5px;
  font-size: 15px;
  float: right;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  flex: 1;
  height: 100vh;
} /*places scroll bar under black header*/
.width-responsive, footer, .visit-section-wrapper + div, .visit-section-wrapper, .teacher-section, .cards-container, .recent-courses-section, .happy-clients, .online-coaching-section, .section-2000, .slider-text-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 15px;
}

header {
  z-index: 100; /*So that "go to top" arrow falls under it*/
  /*REMOVES ENTIRE HEADER TEXT-DECORATION*/
}
header * a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
header + div {
  margin-top: 25px;
  background-color: #f5f8fb;
}

header nav ul > li > a {
  transition: color 0.5s ease-in-out;
  position: relative;
}
header nav ul > li > a:hover {
  color: #D74D52;
}
header nav ul > li > a:hover::before {
  /*::before is a child elemeent here, like -space div instead of ::beforfe- */
  width: 50%;
}
header nav ul > li > a:before {
  content: "";
  position: absolute;
  background: #D74D52;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

#nav-margin {
  margin: auto;
  margin-top: 26px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
}
nav > a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  z-index: 1;
  transform: translate(0, 29px);
}
nav > a + ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  flex-grow: 3;
  margin-top: 25px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 10px;
}

nav ul {
  padding-left: 0;
}
nav ul > li {
  display: inline-block;
  list-style: none;
}
nav ul :nth-of-type(2) > li > a {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
nav ul :nth-of-type(2) > li:last-of-type {
  margin-left: 30px;
}

.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper > a::before {
  right: 13px; /*So underline eff*/
}

.dropdown-list {
  display: none;
  flex-direction: column;
  position: absolute;
  background: #f5f8fb;
  min-width: 138px;
  padding: 32px 0 10px;
}
.dropdown-list > ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}
.dropdown-list > ul > li {
  padding: 5px 20px;
}

.dropdown-wrapper:hover .dropdown-list {
  display: flex;
}

.hamburger {
  display: none;
  flex-grow: 3;
  margin-top: 25px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 10px;
}

.hamburger-icon {
  width: 20px;
  height: 20px;
  background: url(images/nav_icons/nav-short.png) center center/contain no-repeat;
}
.hamburger-icon:hover {
  background-image: url(images/nav_icons/nav-short-pink.png);
}

.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-top: 25px;
  padding-top: 10px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.social-media-list a {
  height: 15px;
  width: 15px;
}
.social-media-list li:last-child {
  margin-left: 20px;
}
.social-media-list a:hover::before {
  width: 0;
}

.instagram {
  background: url(images/nav_icons/instagram.png) center/15px no-repeat;
}

a.instagram:hover {
  background: url(images/nav_icons/instagram-pink.png) center/15px no-repeat;
}

.facebook {
  background: url(images/nav_icons/facebook.png) center/15px no-repeat;
}

a.facebook:hover {
  background: url(images/nav_icons/facebook-pink.png) center/15px no-repeat;
}

.google {
  background: url(images/nav_icons/google.png) center/13px no-repeat;
}

a.google:hover {
  background: url(images/nav_icons/google-pink.png) center/13px no-repeat;
}

.twitter {
  background: url(images/nav_icons/twitter.png) center/15px no-repeat;
}

a.twitter:hover {
  background: url(images/nav_icons/twitter-pink.png) center/15px no-repeat;
}

.search {
  background: url(images/nav_icons/search-icon.png) center/15px no-repeat;
}

a.search:hover {
  background: url(images/nav_icons/search-icon-pink.png) center/15px no-repeat;
}

.bg-slider {
  background: url(images/main_slider/overlay.png) 50% no-repeat, url(images/main_slider/slider333.png) top center/100% no-repeat; /*top center/100% no-repeat*/ /*no-repeat center center/cover; */
  background-size: auto, 1600px;
}

.bg-slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 800px;
}

.slider-text-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.slider-text-container h1 {
  font-size: 40px;
}

.header-paragraph {
  font-family: "Now";
  font-size: 20px;
  margin-bottom: 60px;
}

.button-white-red {
  display: inline-block;
  background: #fff;
  color: #D74D52;
  padding: 18px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 800;
  font-size: 16px;
}
.button-white-red:hover {
  color: #fff;
  background: #D74D52;
  padding: 18px 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-2000 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  text-align: center;
  margin-top: 110px;
}
.section-2000 h2 {
  color: #262626;
  font-size: 30px;
  line-height: 45px;
}

.red-link, .red-link-none {
  color: #D74D52;
  font-weight: 800;
}

.red-link-none {
  text-decoration: none;
}

.online-coaching-section {
  display: flex;
  margin-top: 60px;
  row-gap: 25px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.online-coaching-section p {
  max-width: 320px;
  padding-right: 25px;
  padding-left: 25px;
}
.online-coaching-section a {
  text-decoration: none;
}

.online-coaching_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  flex-grow: 1;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
  text-align: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}
.online-coaching_article h3 {
  transition: color 0.5s ease-in-out;
}
.online-coaching_article img {
  transition: transform 0.5s ease-in-out;
}
.online-coaching_article:hover {
  transform: translateY(-25px);
}
.online-coaching_article:hover h3 {
  color: #D74D52;
}
.online-coaching_article:hover img {
  transform: scale(1.1);
}

.happy-clients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
  margin-left: 60px;
}
.happy-clients div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
}
.happy-clients div p:first-child {
  font-family: "Now";
  font-weight: 600;
  font-size: 40px;
  margin: 0 10px 0;
}
.happy-clients div p:nth-child(2) {
  font-family: "Now";
  font-weight: 500;
  font-size: 20px;
}

.orange-blob {
  background: url(images/color_blobs/6500.png) center/contain no-repeat;
  color: #f28202;
}

.pink-blob {
  background: url(images/color_blobs/200.png) center/contain no-repeat;
  color: #e25f64;
}

.green-blob {
  background: url(images/color_blobs/100.png) center/contain no-repeat;
  color: #3adc79;
}

.form-bg-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  position: relative;
  background: url(images/form_section/course-bg.jpg) center/cover no-repeat;
  width: 100%;
}
.form-bg-horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9098039216);
}

.form-section {
  position: relative;
  display: flex;
  margin: 0 100px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.form-section > div {
  min-width: 0;
}
.form-section input {
  width: 0;
  min-width: 0;
  flex: 1;
  font: 16px "Segoe UI";
}

.form-left-column {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.form-left-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin: -70px 0 -70px;
  padding: 80px 55px 80px;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
  background: url(images/form_section/form-background.jpg) top left no-repeat; /*VERTICAL BACKGROUND*/
  max-width: 640px;
  min-width: 0;
}

form h2 {
  font-size: 30px;
}

.button-red-white {
  display: inline-block;
  color: #fff;
  background: #D74D52;
  padding: 18px 30px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  font: 16px "Segoe UI";
  font-weight: 800;
}

.select-button-margin {
  margin-top: 80px;
  margin-bottom: 80px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  flex-grow: 1;
}
.inputs-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.inputs-container div input {
  padding: 20px;
  margin: 0 0 18px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
}

.right-side-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.form-paragraph {
  margin: 0;
  margin-top: 40px;
  font: 30px "Now";
  line-height: 45px;
}
.form-paragraph + p {
  margin: 60px 0;
  font: 500 20px "Now";
}
.form-paragraph + p + div > img {
  min-width: 0;
}

.recent-courses-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  align-items: center;
  margin-top: 120px;
}
.recent-courses-section > h2 {
  font-size: 30px;
}
.recent-courses-section > h2 + p {
  text-align: center;
  max-width: 685px;
  margin-bottom: 80px;
}

.cards-container {
  display: flex;
  font-weight: 500;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.cards-container article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  flex: 1;
  min-width: 0;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
}
.cards-container article img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.cards-container article div:nth-child(2) {
  padding: 30px 30px 50px;
}
.cards-container article div:nth-child(2) p {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cards-container article div:nth-child(2) p > a {
  text-decoration: none;
  color: black;
  font-family: "Now";
  font-weight: 500;
  font-size: 20px;
}
.cards-container article div:nth-child(2) p + a {
  display: inline-block;
  text-decoration: none;
  color: #D74D52;
  background: #f8dfe0;
  padding: 2px 9px;
  font-size: 14px;
  font-weight: 600;
}

.cards-container .image-mask {
  width: 100%;
  overflow: hidden;
}
.cards-container article:hover img {
  transform: scale(1.5);
}

.green-underline {
  font-size: 30px;
  position: relative;
  font-weight: 600;
}
.green-underline::before {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 10px;
  left: 0;
  right: -15px;
  background-color: #39e17b;
  z-index: 0;
}
.green-underline > span {
  position: relative;
  z-index: 1;
}

.teacher-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.teacher-section > h3 {
  font-size: 20px;
}
.teacher-section-bg {
  background: url(images/quote.png) center no-repeat;
  margin-bottom: 40px;
  font-size: 30px;
}

.twitter-margin {
  margin-left: 10px;
}

.visit-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  position: relative;
}
.visit-section-wrapper + div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
.visit-section-wrapper + div > img {
  margin-top: 80px;
  margin-bottom: 100px;
  width: 200px;
}

.visit-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  position: relative;
  padding: 0 40px 100px 30px;
  font-size: 20px;
  font-weight: 600;
  max-width: 660px;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
  margin-top: 70px;
  margin-right: 55px;
  background: #fff;
  z-index: 1;
  row-gap: 30px;
}
.visit-section div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.visit-section div:first-child > h2 {
  color: #fff;
  background: #D74D52;
  padding: 30px 50px;
  margin-bottom: 70px;
  margin-top: 0;
  font: 400 30px "Segoe UI";
}
.visit-section p {
  margin-top: 0;
}
.visit-section-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.visit-section-bg img {
  vertical-align: bottom;
  width: 100%;
}

.visit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  align-items: flex-start;
}
.visit-row div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

.clock {
  margin-right: 37px;
}

.gps {
  margin-right: 30px;
}

.princeton {
  font: 500 20px/30px "Now";
  margin: 0;
}

.learn-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.view-map {
  margin: auto;
  margin-top: 10px;
}
.view-map span {
  margin-right: 5px;
}
.view-map a {
  font-size: 16px;
}

.image-strip {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
}
.image-strip img {
  min-width: 0;
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  font-size: 14px;
}
footer div > img {
  width: 147px;
}
footer ul {
  padding: 0;
}
footer ul > li {
  list-style: none;
  display: inline-block;
}
footer ul > li > a {
  text-decoration: none;
  display: inline-block;
}
footer ul > li > a:hover {
  color: #D74D52;
}

footer p {
  flex: 1;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  flex: 1;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  flex: 1;
}

.fixed {
  position: fixed;
  bottom: 80px;
  right: 50px;
  z-index: 99; /*so it disappears under header?*/
}

@media screen and (min-width: 1600px) {
  .bg-slider {
    background-size: auto, cover;
  }
}
@media screen and (max-width: 1200px) {
  .width-responsive, .slider-text-container, .section-2000, .online-coaching-section, .happy-clients, .recent-courses-section, .cards-container, .teacher-section, .visit-section-wrapper, .visit-section-wrapper + div, footer {
    max-width: 960px;
  }
  nav ul:nth-of-type(2) > li:last-child {
    margin-left: 0;
  }
  .visit-section {
    width: 540px;
  }
  #img1 {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .width-responsive, .slider-text-container, .section-2000, .online-coaching-section, .happy-clients, .recent-courses-section, .cards-container, .teacher-section, .visit-section-wrapper, .visit-section-wrapper + div, footer {
    max-width: 720px;
  }
  nav ul:nth-of-type(1) {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    height: 30px;
  }
  .section-6500 {
    margin-bottom: 60px;
  }
  .form-section {
    flex-direction: column;
    margin: 0 15px;
  }
  .form-left-column {
    justify-content: center;
  }
  .form-bg-horizontal {
    background-position-y: top;
    background-size: auto;
  }
  .form-left-box {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .visit-section {
    width: 440px;
    margin-right: 0;
  }
  #img1 {
    display: none;
  }
  #img4 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .width-responsive, .slider-text-container, .section-2000, .online-coaching-section, .happy-clients, .recent-courses-section, .cards-container, .teacher-section, .visit-section-wrapper, .visit-section-wrapper + div, footer {
    max-width: 540px;
  }
  .online-coaching-section {
    flex-direction: column;
  }
  .section-6500 {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }
  .cards-container {
    flex-direction: column;
  }
  .visit-section-bg {
    width: 510px;
    position: static;
  }
  .visit-section {
    width: 510px;
    margin: 0;
  }
  .form-section .flex-row {
    flex-direction: column;
  }
  .form-section .input-box {
    width: auto;
  }
  footer {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 30px 0;
  }
  footer ul {
    align-self: stretch;
  }
}
@media screen and (max-width: 575px) {
  .width-responsive, .slider-text-container, .section-2000, .online-coaching-section, .happy-clients, .recent-courses-section, .cards-container, .teacher-section, .visit-section-wrapper, .visit-section-wrapper + div, footer {
    max-width: initial;
    padding-left: 15px;
    padding-right: 15px;
  }
  #img1 {
    display: none;
  }
  #img3 {
    display: none;
  }
  #img4 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */