//-----------------------------------FONTS
@mixin font-faces($family, $src, $weight, $style) {
    font-family: $family;
    src: url($src);
    font-weight: $weight;
    font-style: $style;
}

@font-face {
    @include font-faces("Segoe UI", "fonts/SegoeUI.woff2", normal, normal);
}

@font-face {
    @include font-faces("Segoe UI", "fonts/SegoeUI-Bold.woff2", bold, normal);
}

@font-face {
    @include font-faces("Now", "fonts/Now-Regular.woff2", normal, normal);
}

@font-face {
    @include font-faces("Now", "fonts/Now-Medium.woff2", 500, normal);
}

@font-face {
    @include font-faces("Now", "fonts/Now-Bold.woff2", bold, normal);
}

//------------------------------------VARIABLES
$base-pink: #d74d52;
$white: #fff;
$dark-gray: #262626;

//------------------------------------GENERAL
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: $white;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;

    * a {
        color: #192836;
    }
}

h1,
h2,
h3 {
    font-family: "Now";
    font-weight: 500;
}

.h1 {
    font-size: 40px;
}

.h2 {
    color: $dark-gray;
    font-size: 30px;
    line-height: 45px;
}

.h3 {
    font-size: 20px;
}

p {
    line-height: 160%;
}

.main-margin-mobile {
    margin: {
        left: 20px;
        right: 20px;
    }
}

//---------------------------------FLEX
@mixin display-flex($direction, $styling) {
    display: flex;
    flex-direction: $direction;
    @if $direction == row {
        justify-content: $styling;
    } @else if $direction == column {
        align-items: $styling;
    }
    margin: 0;
}

//---------------------------------BLACK HEADER
.black-header {
    background: $dark-gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.evanto-market {
    margin: {
        top: 17px;
        bottom: 8px;
        left: 15px;
    }
    padding-top: 1px;
}

.button-white-green {
    background: #82b440;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
    color: $white;
    padding: 5px 20px 7px 20px;
    border-radius: 4px;
    margin: {
        top: 11.5px;
        right: 17px;
        bottom: 11.5px;
    }
    font-size: 15px;
    float: right;
    text-decoration: none;
}

//-------------------------MAIN FLEX CONTAINER
.flex-container {
    @include display-flex(column, stretch);
    overflow: auto;
    height: 100vh;
} /*places scroll bar under black header*/

//----------------------CLASS FOR EXTENDING
.width-responsive {
    width: 100%;
    max-width: 1140px;
    margin: 0 15px;
}

//-------------------------HEADER/NAVIGATION
header {
    z-index: 100; /*So that "go to top" arrow falls under it*/

    * a {
        display: inline-block;
        text-decoration: none;
        color: black;
    }

    + div {
        margin-top: 25px;
        background-color: #f5f8fb;
    }
}

header nav ul > li > a {
    transition: color 0.5s ease-in-out;
    position: relative;

    &:hover {
        color: $base-pink;

        &::before {
            /*::before is a child elemeent here, like -space div instead of ::beforfe- */
            width: 50%;
        }
    }

    &:before {
        content: "";
        position: absolute;
        background: $base-pink;
        right: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        transition: width 0.5s ease-in-out;
    }
}

#nav-margin {
    margin: auto;
    margin-top: 26px;
}

nav {
    @include display-flex(row, space-evenly);
    align-items: center;
    font-size: 14px;
    font-weight: 800;

    > a {
        @include display-flex(row, space-evenly);
        z-index: 1;
        transform: translate(0, 29px);

        + ul {
            @include display-flex(row, center);
            flex-grow: 3;
            margin-top: 25px;
            column-gap: 35px;
        }
    }
}

nav ul {
    padding-left: 0;

    > li {
        display: inline-block;
        list-style: none;
    }

    :nth-of-type(2) {
        > li > a {
            width: 20px;
            height: 20px;
            margin-left: 4px;
            margin-right: 4px;
        }

        > li:last-of-type {
            margin-left: 30px;
        }
    }
}

//Dropdown menu
.dropdown-wrapper {
    position: relative;

    > a::before {
        right: 13px; /*So underline eff*/
    }
}

.dropdown-list {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #f5f8fb;
    min-width: 138px;
    padding: 32px 0 10px;

    > ul {
        @include display-flex(column, stretch);

        > li {
            padding: 5px 20px;
        }
    }
}

.dropdown-wrapper:hover .dropdown-list {
    display: flex;
}

//Hamburger menu
.hamburger {
    display: none;
    flex-grow: 3;
    margin: {
        top: 25px;
        right: 60px;
        left: 60px;
    }
    padding-top: 10px;
}

.hamburger-icon {
    width: 20px;
    height: 20px;
    background: url(images/nav_icons/nav-short.png) center center/contain
        no-repeat;

    &:hover {
        background-image: url(images/nav_icons/nav-short-pink.png);
    }
}

//Social media icons
.social-media-list {
    @include display-flex(row, flex-start);
    margin-top: 25px;
    padding-top: 10px;
    column-gap: 15px;

    a {
        height: 15px;
        width: 15px;
    }

    li:last-child {
        margin-left: 20px;
    }

    a:hover::before {
        width: 0;
    }
}

.instagram {
    background: url(images/nav_icons/instagram.png) center/15px no-repeat;
}
a.instagram:hover {
    background: url(images/nav_icons/instagram-pink.png) center/15px no-repeat;
}

.facebook {
    background: url(images/nav_icons/facebook.png) center/15px no-repeat;
}
a.facebook:hover {
    background: url(images/nav_icons/facebook-pink.png) center/15px no-repeat;
}

.google {
    background: url(images/nav_icons/google.png) center/13px no-repeat;
}
a.google:hover {
    background: url(images/nav_icons/google-pink.png) center/13px no-repeat;
}

.twitter {
    background: url(images/nav_icons/twitter.png) center/15px no-repeat;
}
a.twitter:hover {
    background: url(images/nav_icons/twitter-pink.png) center/15px no-repeat;
}

.search {
    background: url(images/nav_icons/search-icon.png) center/15px no-repeat;
}
a.search:hover {
    background: url(images/nav_icons/search-icon-pink.png) center/15px no-repeat;
}

//------------------------SLIDER IN HEADER
.slideshow-container {
    position: relative;
    overflow: hidden;
}

.bg-slider-1 {
    background: url(images/main_slider/overlay.png) 50% no-repeat,
        url(images/main_slider/slider333.png) top center/100% no-repeat;
    background-size: auto, 1600px;
    transform: translateX(0);
    // animation: slide-1 10s infinite running;
    // animation-delay: 4.5s;

    .slider-text-container h1 {
        max-width: 1000px;
        line-height: 60px;
        // animation: slider-1-h1 10s infinite ease running;
        // animation-delay: 4.5s;
    }

    h1::before {
        content: "Bringing You a positive and awakening perspective on your future";
        // animation: slider-1-text 10s infinite running;
        // animation-delay: 4.5s;
    }
}

.bg-slider-2 {
    background: url(images/main_slider/overlay.png) 50% no-repeat,
        url(images/main_slider/slider444.png) top center/100% no-repeat;
    background-size: auto, 1600px;
    position: absolute;
    inset: 0;
    width: 100%;
    transform: translateX(100%);
    // animation: slide-2 10s infinite running;
    // animation-delay: 4.5s;

    .slider-text-container h1 {
        max-width: 700px;
        line-height: 60px;
        // animation: slider-2-h1 10s infinite running;
        // animation-delay: 4.5s;
    }

    .slider-text-container h1::before {
        content: "Professional development for coaches and leaders";
        // animation: slider-2-text 10s infinite running;
        // animation-delay: 4.5s;
    }
}

.bg-slider-section {
    @include display-flex(column, center);
    justify-content: center;
    min-height: 800px;
}

.slider-text-container {
    @extend .width-responsive;
    @extend .main-margin-mobile;
    padding: {
        top: 100px;
        bottom: 200px;
    }

    h1 {
        font-size: 40px;
    }
}

.header-paragraph {
    font-family: "Now";
    font-size: 20px;
    margin-bottom: 55px;
}

.button-white-red {
    display: inline-block;
    background: $white;
    color: $base-pink;
    padding: 18px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 800;
    font-size: 16px;

    &:hover {
        color: $white;
        background: $base-pink;
        padding: 18px 30px;
    }
}

@keyframes slide-1 {
    0% {
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    5%{
        transform: translateX(-100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    50% {
        transform: translateX(-100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    50.0001% {
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider444.png) top center/100% no-repeat;
    }
    55% {
        transform: translateX(-100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    100% {
        transform: translateX(-100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
}

@keyframes slide-2 {
    0% {
        transform: translateX(100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider444.png) top center/100% no-repeat;
    }
    5% { 
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider444.png) top center/100% no-repeat;
    }
    50% { 
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider444.png) top center/100% no-repeat;
    }
    50.0001%  { 
        transform: translateX(100%);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    55% {
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
    100% {
        transform: translateX(0);
        background: url(images/main_slider/overlay.png) 50% no-repeat,
            url(images/main_slider/slider333.png) top center/100% no-repeat;
    }
}

@keyframes slider-1-text {
    0% {
        content: "Bringing You a positive and awakening perspective on your future";
    }
    5% { 
        content: "Bringing You a positive and awakening perspective on your future";
    }
    50% { 
        content: "Bringing You a positive and awakening perspective on your future";
    }
    50.0001%  { 
        content: "Professional development for coaches and leaders";
    }
    55% {
        content: "Professional development for coaches and leaders";
    }
    100% {
        content: "Professional development for coaches and leaders";
    }
}

@keyframes slider-2-text {
    0% {
        content: "Professional development for coaches and leaders";
    }
    5% { 
        content: "Professional development for coaches and leaders";
    }
    50% { 
        content: "Professional development for coaches and leaders";
    }
    50.0001%  { 
        content: "Bringing You a positive and awakening perspective on your future";
    }
    55% {
        content: "Bringing You a positive and awakening perspective on your future";
    }
    100% {
        content: "Bringing You a positive and awakening perspective on your future";
    }
}

@keyframes slider-1-h1 {
    0% {
        max-width: 1000px;
    }
    5% { 
        max-width: 1000px;
    }
    50% { 
        max-width: 1000px;
    }
    50.0001%  { 
        max-width: 700px;
    }
    55% {
        max-width: 700px;
    }
    100% {
        max-width: 700px;
    }
}

@keyframes slider-2-h1 {
    0% {
        max-width: 700px;
    }
    5% { 
        max-width: 700px;
    }
    50% { 
        max-width: 700px;
    }
    50.0001%  { 
        max-width: 1000px;
    }
    55% {
        max-width: 1000px;
    }
    100% {
        max-width: 1000px;
    }
}

//-----------------------------------------MAIN
main {
    @include display-flex(column, center);
}

//------------------Section 2000
.section-2000 {
    @include display-flex(row, center);
    @extend .width-responsive;
    @extend .main-margin-mobile;
    text-align: center;
    margin-top: 110px;

    h2 {
        color: $dark-gray;
        font-size: 30px;
        line-height: 45px;
    }
}

.red-link {
    color: $base-pink;
    font-weight: 800;
}

.red-link-none {
    @extend .red-link;
    text-decoration: none;
}

//-----------------Online coaching section
.online-coaching-section {
    @extend .width-responsive;
    display: flex;
    margin-top: 60px;
    row-gap: 25px;
    column-gap: 25px;

    p {
        max-width: 320px;
        padding: {
            right: 25px;
            left: 25px;
        }
    }

    a {
        text-decoration: none;
    }
}

.online-coaching_article {
    @include display-flex(column, center);
    flex-grow: 1;
    background: $white;
    padding: {
        top: 50px;
        bottom: 50px;
    }
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
    text-align: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;

    h3 {
        transition: color 0.5s ease-in-out;
    }

    img {
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        transform: translateY(-25px);

        h3 {
            color: $base-pink;
        }

        img {
            transform: scale(1.1);
        }
    }
}

//-----------------------------------HAPPY CLIENTS SECTION
.happy-clients {
    @extend .width-responsive;
    @include display-flex(row, space-around);
    align-items: center;
    margin: {
        top: 70px;
        bottom: 150px;
    }

    div {
        @include display-flex(row, space-evenly);
        align-items: center;

        p:nth-of-type(2) {
            font-family: "Now";
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.happy-clients div {

    p {
        margin: 0;   
    }

    .counter {
        font-family: "Now";
        font-weight: 600;
        font-size: 40px;

        + span {
            @extend .counter;
            padding-right: 15px;
        }
    }

    &:first-of-type span {
        color: #f28202;
    }

    &:nth-of-type(2) span {
        color: #e25f64;
    }

    &:last-of-type span {
        color: #3adc79;
    }
}

.orange-blob {
    background: url(images/color_blobs/6500.png) center/contain no-repeat;
    color: #f28202;
}

.pink-blob {
    background: url(images/color_blobs/200.png) center/contain no-repeat;
    color: #e25f64;
}

.green-blob {
    background: url(images/color_blobs/100.png) center/contain no-repeat;
    color: #3adc79;
}

//-------------------FORM SECTION
//Left-side
.form-bg-horizontal {
    @include display-flex(row, center);
    position: relative;
    background: url(images/form_section/course-bg.jpg) center/cover no-repeat;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ffffffe8;
    }
}

.form-section {
    position: relative;
    display: flex;
    margin: 0 100px;
    column-gap: 30px;

    > div {
        min-width: 0;
    }

    input {
        min-width: 0;
        flex: 1;
        font: 16px "Segoe UI";
    }
}

.form-left-column {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.form-left-box {
    @include display-flex(column, stretch);
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: -70px 0 -70px;
    padding: 80px 55px 80px;
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
    background: url(images/form_section/form-background.jpg) top left no-repeat; /*VERTICAL BACKGROUND*/
    max-width: 640px;
    min-width: 0;
}

form h2 {
    font-size: 30px;
}

.button-red-white {
    display: inline-block;
    color: $white;
    background: $base-pink;
    padding: 18px 30px;
    border: none;
    width: fit-content;
    border-radius: 4px;
    font: 16px "Segoe UI";
    font-weight: 800;
}

.select-button-margin {
    margin-top: 80px;
    margin-bottom: 80px;
}

.inputs-container {
    @include display-flex(column, stretch);
    flex-grow: 1;

    div {
        @include display-flex(row, space-evenly);
        column-gap: 30px;

        input {
            padding: 20px;
            margin: 0 0 18px;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
        }
    }
}

//Right side
.right-side-form {
    @include display-flex(column, center);
    justify-content: center;
    flex: 1;
    text-align: center;
}

.form-paragraph {
    margin: 0;
    margin-top: 40px;
    font: 30px "Now";
    line-height: 45px;

    + p {
        margin: 60px 0;
        font: 500 20px "Now";

        + div > img {
            width: 100%;
            min-width: 0;
        }
    }
}

//------------------------RECENT COURSES SECTION
.recent-courses-section {
    @include display-flex(column, stretch);
    @extend .width-responsive;
    align-items: center;
    margin-top: 120px;

    > h2 {
        font-size: 30px;

        + p {
            text-align: center;
            max-width: 685px;
            margin-bottom: 80px;
        }
    }
}

.cards-container {
    @extend .width-responsive;
    display: flex;
    font-weight: 500;
    column-gap: 30px;
    row-gap: 30px;

    article {
        @include display-flex(column, stretch);
        flex: 1;
        min-width: 0;
        box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);

        img {
            width: 100%;
            transition: transform 0.5s ease-in-out;
        }

        div:nth-child(2) {
            padding: 30px 30px 50px;

            p {
                padding-top: 20px;
                padding-bottom: 20px;

                > a {
                    text-decoration: none;
                    color: black;
                    font-family: "Now";
                    font-weight: 500;
                    font-size: 20px;
                }

                + a {
                    display: inline-block;
                    text-decoration: none;
                    color: $base-pink;
                    background: #f8dfe0;
                    padding: 2px 9px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}

.cards-container {
    .image-mask {
        width: 100%;
        overflow: hidden;
    }

    article:hover img {
        transform: scale(1.5);
    }
}

.green-underline {
    font-size: 30px;
    position: relative;
    font-weight: 600;

    &::before {
        content: "";
        position: absolute;
        bottom: 5px;
        height: 10px;
        left: 0;
        right: -15px;
        background-color: #39e17b;
        z-index: 0;
    }

    > span {
        position: relative;
        z-index: 1;
    }
}

//-------------------------------TEACHER/VIDEO SECTION
.teacher-section {
    @include display-flex(column, stretch);
    @extend .width-responsive;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;

    > h3 {
        font-size: 20px;
    }

    &-bg {
        background: url(images/quote.png) center no-repeat;
        margin-bottom: 40px;
        font-size: 30px;
    }
}

.twitter-margin {
    margin-left: 10px; //CHECK THIS LATER
}

.visit-section-wrapper {
    @extend .width-responsive;
    @include display-flex(column, flex-end);
    position: relative;

    + div {
        @include display-flex(row, space-evenly);
        @extend .width-responsive;

        > img {
            //instagram logo
            margin-top: 80px;
            margin-bottom: 100px;
            width: 200px;
        }
    }
}

.visit-section {
    @include display-flex(column, stretch);
    position: relative;
    padding: 0 40px 100px 30px;
    font-size: 20px;
    font-weight: 600;
    max-width: 660px;
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
    margin: {
        top: 70px;
        right: 55px;
    }
    background: $white;
    z-index: 1;
    row-gap: 30px;

    div:first-child {
        @include display-flex(row, center); //HAVE TO FIX THIS -- VISIT BOX

        > h2 {
            color: $white;
            background: $base-pink;
            padding: 30px 50px;
            margin-bottom: 70px;
            margin-top: 0;
            font: 400 30px "Segoe UI";
        }
    }

    p {
        margin-top: 0;
    }

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;

        img {
            vertical-align: bottom;
            width: 100%;
        }
    }
}

.visit-row {
    @include display-flex(row, flex-start);
    align-items: flex-start;

    div {
        @include display-flex(column, stretch);
    }
}

.clock {
    margin-right: 35px;
}

.gps {
    margin-right: 25px;
}

.princeton {
    font: 500 20px/30px "Now";
    margin: 0;
}

.learn-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

.view-map {
    margin: auto;
    margin-top: 10px;

    span {
        margin-right: 5px;
    }

    a {
        font-size: 16px;
    }
}

//--------------------------------GALLERY
.image-strip {
    @include display-flex(row, space-evenly);
    width: 100%;

    img {
        min-width: 0;
        flex: 1;
    }
}

//--------------------------------FOOTER
footer {
    @extend .width-responsive;
    display: flex;
    align-items: center;
    font-size: 14px;

    div > img {
        width: 147px;
    }

    ul {
        padding: 0;

        > li {
            list-style: none;
            display: inline-block;

            > a {
                text-decoration: none;
                display: inline-block;

                &:hover {
                    color: $base-pink;
                }
            }
        }
    }
}

footer {
    p {
        flex: 1;
    }

    div {
        @include display-flex(row, center);
        flex: 1;
    }

    ul {
        @include display-flex(row, space-evenly);
        flex: 1;
    }
}

//----------------------------NAVIGATION ARROW
.fixed {
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 99; /*so it disappears under header?*/
}

//---------------------------MEDIA QUERIES
@media screen and (min-width: 1600px) {
    //CHECK THIS QUERY
    .bg-slider-1 {
        background-size: auto, cover;
    }

    .bg-slider-2 {
        background-size: auto, cover;
    }
}

@media screen and (max-width: 1200px) {
    .width-responsive {
        max-width: 960px;
    }

    nav ul:nth-of-type(2) > li:last-child {
        margin-left: 0;
    }

    .teacher-section-bg {
        max-width: 920px;
    }

    .visit-section {
        max-width: 540px;
    }

    #img1 {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .width-responsive {
        max-width: 720px;
    }

    nav ul:nth-of-type(1) {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        height: 30px;
    }

    .section-6500 {
        margin-bottom: 60px;
    }

    .form-section {
        flex-direction: column;
        margin: 0 15px;
    }

    .form-left-column {
        justify-content: center;
    }

    .form-bg-horizontal {
        background-position-y: top;
        background-size: auto;
    }

    .form-left-box {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .happy-clients div p:nth-child(3){
        font-size: 15px;
    }

    .teacher-section-bg {
        max-width: 690px;
    }

    .visit-section {
        max-width: 440px;
        margin-right: 0;
    }

    #img1 {
        display: none;
    }

    #img4 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .width-responsive {
        max-width: 540px;
    }

    .online-coaching-section {
        flex-direction: column;
    }

    .section-6500 {
        flex-direction: column;
        row-gap: 30px;
        align-items: flex-start;
    }

    .cards-container {
        flex-direction: column;
    }

    .online-coaching-section {
        row-gap: 40px;
    }

    .visit-section-bg {
        max-width: 510px;
        position: static;
    }

    .visit-section-wrapper {
        align-items: center;
    }

    .visit-section {
        max-width: 510px;
        margin: 0;
    }

    .form-section .flex-row {
        flex-direction: column;
    }

    .form-section .input-box {
        width: auto;
    }

    .inputs-container div {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 30px 0;
    }

    footer ul {
        align-self: stretch;
    }

    .happy-clients {
        @include display-flex(column, flex-start);
        row-gap: 30px;
        margin: {
            top: 80px;
            bottom: 80px;
            left: 40px;
        }
    }
}

@media screen and (max-width: 575px) {
    .width-responsive {
        max-width: initial;
        padding-left: 15px;
        padding-right: 15px;
    }

    #img1 {
        display: none;
    }

    #img3 {
        display: none;
    }

    #img4 {
        display: none;
    }
}

@media screen and (max-width: 460px){
    .hamburger {
        margin: {
            right: 7px;
            left: 5px;
        }
    }

    .social-media-list {
        column-gap: 6px;
    }

    .black-header {
        min-width: 300px;
    }
}